* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Inter';
}

#menusuperior {
    background-color: #303030;
    color: white;
    height: 475px;
}

#titulo-menusuperior {
    padding-top: 206px;
    margin-left: 62px;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.5px;
}

#texto-menusuperior {
    margin-top: 20px;
    margin-left: 62px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

#menuinformacional {
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center;
    justify-content: space-evenly;
    height: 229px;
}

.texto-informativo {
    padding: 20px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

strong {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

#caixa-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}

#titulo-principal {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

#texto-principal{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

#formulario {
    background-color: #303030;
    text-align: center;
    height: 638px;
}

#titulo-formulario {
    padding-top: 87px;
    padding-bottom: 48px;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}

input {
    width: 420px;
    height: 72px;
    background-color: white;
    border-radius: 8px;
    font-size: 24px;
    margin-bottom: 72px;
    padding: 0 30px;
}

input::placeholder {
    padding-left: 0 30px;
    color: rgba(0, 0, 0, 0.3);
    font-family: 'Raleway';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

button {
    background-color: #c07212;
    width: 286px;
    height: 74px;
    color: white;
    text-align: center;
    font-family: 'Raleway';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    border-radius: 10px;
    margin-bottom: 87px;
    cursor: pointer;
}

button:hover {
    transform: translateY(-7px);
    transition: 0.5s;
    box-shadow: 0px 10px 15px #00000080;
}
